@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <section class="wrapper">
 
  <div class="col-lg-12">

                        <h2>Month End Report for EMS &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
						<button type="button" class="btn btn-success"> Print Document</button>
                        </h2><div class="table-responsive">
						
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>CEB Province</th>
                                        <th>CEB Area Office</th>
                                        <th>Primary Substation</th>
                                        <th>Time Of Use</th>
										<th>Energy Initial Reading</th>
										<th>Energy Final Reading</th>
										<th>Total Energy in Time interval</th>
										<th>Total Energy</th>
										<th>Coincident Peak</th>
										<th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
								
								
         <tr>
            <td rowspan="15">Western Province South I</td>
            <td rowspan="6">Rathmalana</td>
            <td rowspan="3">Angulana</td>
            <td class="auto-style5">Day</td>
            <td class="auto-style7">23913943</td>
            <td class="auto-style2">23200019</td>
            <td class="auto-style2">713,924 </td>
            <td class="auto-style4" rowspan="3">1,349,004 </td>
            <td rowspan="3">2571</td>
            <td rowspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style5">Peek</td>
            <td class="auto-style7">9804328</td>
            <td class="auto-style2">9523478</td>
            <td class="auto-style2">280,850</td>
        </tr>
        <tr>
            <td class="auto-style5">Off- Peek</td>
            <td class="auto-style7">12183247</td>
            <td class="auto-style2">11829017</td>
            <td class="auto-style2">354,230 </td>
        </tr>
        <tr>
            <td rowspan="3">Moratuwa</td>
            <td class="auto-style5">Day</td>
            <td class="auto-style7">32706144</td>
            <td class="auto-style2">23200019</td>
            <td class="auto-style2">713,924 </td>
            <td class="auto-style4" rowspan="3">1,349,004</td>
            <td rowspan="3">810</td>
        </tr>
        <tr>
            <td class="auto-style5">Peek</td>
            <td class="auto-style7">12052617</td>
            <td class="auto-style2">9523478</td>
            <td class="auto-style2">280,850</td>
        </tr>
        <tr>
            <td class="auto-style6">Off- Peek</td>
            <td class="auto-style1">13175776</td>
            <td class="auto-style2">11829017</td>
            <td class="auto-style2">354,230 </td>
        </tr>
        <tr>
            <td rowspan="9">Kalutara</td>
            <td rowspan="3">Panadura</td>
            <td class="auto-style5">Day</td>
            <td class="auto-style7">32706144</td>
            <td class="auto-style2">23200019</td>
            <td class="auto-style2">713,924 </td>
            <td class="auto-style4" rowspan="3">1,349,004</td>
            <td rowspan="3">520</td>
            <td rowspan="9">Multification factor 2</td>
        </tr>
        <tr>
            <td class="auto-style5">Peek</td>
            <td class="auto-style7">12052617</td>
            <td class="auto-style2">9523478</td>
            <td class="auto-style2">280,850</td>
        </tr>
        <tr>
            <td class="auto-style5">Off- Peek</td>
            <td class="auto-style1">13175776</td>
            <td class="auto-style2">11829017</td>
            <td class="auto-style2">354,230 </td>
        </tr>
        <tr>
            <td rowspan="3">Molligoda</td>
            <td class="auto-style5">Day</td>
            <td class="auto-style7">32706144</td>
            <td class="auto-style2">23200019</td>
            <td class="auto-style2">713,924 </td>
            <td class="auto-style4" rowspan="3">1,349,004</td>
            <td rowspan="3">782</td>
        </tr>
        <tr>
            <td class="auto-style5">Peek</td>
            <td class="auto-style7">12052617</td>
            <td class="auto-style2">9523478</td>
            <td class="auto-style2">280,850</td>
        </tr>
        <tr>
            <td class="auto-style5">Off- Peek</td>
            <td class="auto-style1">13175776</td>
            <td class="auto-style2">11829017</td>
            <td class="auto-style2">354,230 </td>
        </tr>
        <tr>
            <td rowspan="3">Waskaduwa</td>
            <td class="auto-style5">Day</td>
            <td class="auto-style7">32706144</td>
            <td class="auto-style2">23200019</td>
            <td class="auto-style2">713,924 </td>
            <td class="auto-style4" rowspan="3">1,349,004</td>
            <td rowspan="3">5454</td>
        </tr>
        <tr>
            <td class="auto-style5">Peek</td>
            <td class="auto-style7">12052617</td>
            <td class="auto-style2">9523478</td>
            <td class="auto-style2">280,850</td>
        </tr>
        <tr>
            <td class="auto-style5">Off- Peek</td>
            <td class="auto-style1">13175776</td>
            <td class="auto-style2">11829017</td>
            <td class="auto-style2">354,230 </td>
        </tr>
								
								
								</tbody>
                            </table>
                        </div>
                    </div>
 </section>
<!--main content start-->







<script src="~/Scripts/ko/ReportShow.js"></script>
